html {
    scroll-behavior: smooth;
}

body {
    background-color: #1d3557;
}

.header {
    padding: 10px;
    background-color: #1d3557;
}

.header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 170px;
    background-color: #A8DADC;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar a {
    display: inline-block;
    padding: 2px;
    color: #F1FAEE;
}

.banner {
    display: flex;
    justify-content: flex-end;
    background-color: #A8DADC;
    color: #1d3557;
    height: 60px;
}

.banner h2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 10px 10px;
}

.aboutme {
    display: flex;
    flex-direction: row;
    padding: 11px;
    border: 11px;
    margin: 11px;

}

.aboutme h2 {
    font-size: larger;
}

.aboutme section {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-left: 10px solid black;
    color: #F1FAEE;
}

.aboutme img {
    float:left;
}

.work {
    display: flex;
    flex-wrap: wrap;
    font-size: larger;
    padding: 20px;

}

.workcontainer {
    display: flex;
    flex-wrap: wrap;

}

h2 { 
    font-size: larger;
    padding: 10px;
    margin-right: 10px;
    float: left;
} 

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-left: 10px solid black;
}

.prework {
    background-image: url(./images/skyeandi.jpeg);
    width: 90% ;
    height: 300px;
    border: 10px solid black;
}

.smallcontainer {
    display: flex;
    align-items: flex-end;
    width: 40%;
    height: 150px;
    border: 10px solid black;
    margin: 10px;
}

.refactor {
    background-image: url(./images/grey.jpeg);
    color: antiquewhite;
}

.project-1 {
    background-image: url(./images/Screen\ Shot\ 2022-09-17\ at\ 3.55.55\ PM.png);
    color: antiquewhite; 
}
.mp2 {
    background-image: url(./images/loganpass.jpeg);
    color: antiquewhite;
}
.run {
    background-image: url(./images/bandlands.jpeg);
    color: antiquewhite;
}

.contactme {
    display: flex;
    flex-direction: row;
}

.contactme ul {
    display: flex;
    flex-direction:row;
    padding: 10px;
    border-left: 10px solid black;
    justify-content:space-around;
    width: 100%;
}

.contactme ul li a {
    padding: 15px;
    color: #A8DADC;
}

@media screen and (max-width: 768px){
.aboutme, .workcontainer, .contactme, h2 {
    flex-direction: column;
} 

}
    