html {
    scroll-behavior: smooth;
}
body {
    background-color: #1d3557;
}
.header {
   padding: 10px;
   background-color:#1d3557;
}

.header h1 {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 30px;
    width: 170px;
    background-color: #A8DADC;
    font-size: large;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar a {
    display: inline-block;
    padding: 2px;
    color: #F1FAEE;
}

.banner {
    display: flex; 
    justify-content: flex-end;
    background-color: #A8DADC;
    color: #1d3557;
    height: 60px;
}

.banner h2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 10px 10px;
}

main {
    display: flex;
    flex-direction: column;
}

.aboutme {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 10px;
    margin: 10px;

}
.aboutme h2 {
    font-size: larger;
    padding: 10px;
    border-right: 10px solid black;
    margin-right: 10px;
    /* border not working */
}

.aboutme section {
    display: flex;
    flex-direction: row;
    color: #F1FAEE
    
}

.aboutme img {
    display: flex;
    float: none;
}

.work {
    display: flex;
    flex-direction: row;
    font-size: larger;
    padding: 20px;

}

.work h2 {
    font-size: larger;
    padding: 10px;
    border-right: 10px solid black;
    margin-right: 10px; 
}

.work figure {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.prework {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
    height: 300px;
    width: 300px;
    background-color: blue;
}

.refactor, .mp1, .mp2, .run {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;
    padding: 10px;
    height: 120px;
    width: 120px;
    background-color: blue;
}

.contactme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: 10px;
    margin: 10px;

}

.contactme h2 {
    font-size: larger;
    padding: 10px;
    border-right: 10px solid black;
    margin-right: 10px;
}

.contactme li {
    display:flex;
    flex-direction: row;
    justify-content: end;
    padding: 10px;
}

@media screen and (max-width:992px){
    .figure {
        width: 50%;
    }
}

@media screen and (max-widht:600px) {
    .figure {
        width: 100%;
    };
    
}